fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
email-validator
scikit-learn
xgboost
shap
scipy
numpy
pandas
pytest
httpx
