fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
email-validator
python-multipart==0.0.29
python-dotenv==1.2.2
scikit-learn
xgboost
shap
scipy
numpy
pandas
pytest
httpx
openpyxl
